  <!--<div style="padding: 20px">
    <h3>Value variable</h3>
    <mat-form-field>
      <mat-select name="countryReactiveVaraible" [formControl]="selectedCountryControl" placeholder="Country">
        <mat-option *ngFor="let country of countries" [value]="country.short">
          {{country.full}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    Selected = {{selectedCountryControl.value}}
  </div>
-->

<form [formGroup]="contactForm"  novalidate>
  <div formGroupName="personalData" novalidate>
    <select formControlName="country">
      <option value="">Please select a file</option>
      <option *ngFor="let country of countries" [value]="country.id">{{country.id}}</option>
    </select>
  
  </div>

</form>
  
