  <!--<div style="padding: 20px">
    <h3>Value variable</h3>
    <mat-form-field>
      <mat-select name="countryReactiveVaraible" [formControl]="selectedCountryControl" placeholder="Country">
        <mat-option *ngFor="let country of countries" [value]="country.short">
          {{country.full}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    Selected = {{selectedCountryControl.value}}
  </div>
-->

<!--<form [formGroup]="contactForm"  novalidate>
  <div formGroupName="personalData" novalidate>
    <select formControlName="country">
      <option value="">Please select a file</option>
      <option *ngFor="let country of countries" [value]="country.id">{{country.id}}</option>
    </select>
  
  </div>

</form> -->


<form [formGroup]="countryForm">
 <select formControlName="countryControl">
    <option value="">Please select a file</option>
   <option [ngValue]="country" *ngFor="let country of countries">{{country.id}}</option>
 </select>
<input type="text" #name placeholder="Add country name">
<input type="text" #code placeholder="Add country code">
<button (click)="addNewOption(name.value, code.value)">Add to SELECT</button>
</form>
  
