<!--<app-select [countries]="listedocument" ></app-select> -->


<form [formGroup]="countryForm">
 <select formControlName="countryControl">
   <option [ngValue]="country" *ngFor="let country of listedocument">{{country.id}}</option>
 </select>
<button (click)="addNewOption()">Document List</button>
 <button (click)="getHtmlFromDeltaWithPram()"> Open select document </button>

</form>

<div class="float-md-left">   
     <app-model [(html)]="htmls" (htmlChange)='myValueChange($event);' 
           (deltaChange)='myDeltaChange($event);'> </app-model>
       <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect (click)= "getHtmlFromDelta()" >Open Document </button>

          <button mdbBtn type="submit" color="primary" class="waves-light"
				 mdbWavesEffect (click)="frame.show()">Save Document
           </button> 

 <!-- Save document-->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Enter document name</h4>
    
      </div>
      <div class="modal-body mx-3">

        <div class="md-form mb-5">
          <i class="fa fa-tag prefix grey-text"></i>
          <input type="text" id="form32" class="form-control validate" mdbInputDirective [formControl]="contactFormModalDocumentName">
          <label data-error="wrong" data-success="right" for="form32"></label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" mdbWavesEffect data-toggle="modal" (click)="getDeltaOps(); addNewOption(); frame.hide()">Save document
          <i class="fa fa-paper-plane-o ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
   
</div> 

<div class="float-ld-right">  
    <app-forum (postChange)='myPostChange($event);'></app-forum> 
</div> 



<!--Choisir doucument à ouvrir
<mat-form-field>
    <mat-select placeholder="choose document to open"  [formControl]="documentControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let document of listedocument" [value]="document">
        {{document.id}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="documentControl.hasError('required')">Please choose a document</mat-error>
    <mat-hint>{{documentControl.value?.ops}}</mat-hint>
  </mat-form-field>

 -->   

